<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSWidgetHost</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.aiXCodes.FitnessApp.TrainingWidget</string>
	<key>NSExtensionMainStoryboard</key>
	<string>MainInterface</string>
</dict>
</plist>
